
<!doctype html>
<html lang="en" ng-app="myApp" ng-cloak>

<head>
  <title>webappmarket</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta href="doap.ttl#this" rel="http://www.w3.org/ns/solid/app#configuration">

  <style>
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
  }
  </style>
  <base target="_blank">
  <link rel="stylesheet" href="bower_components/lumx/dist/lumx.css">
  <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type="img/png" href="images/icon.png">
  <link rel="manifest" href="manifest.json">
</head>

<body ng-controller="Main" flow-prevent-drop flex-container="column">



  <!-- Welcome page -->
  <div class="welcome row grad-bg" ng-hide="loggedIn">
    <div class="absolute-center tc-white-1">
      <div class="welcome-title">
        <span class="icon icon--xl icon--flat mdi mdi-apps tc-white-1"></span>
        <span class="app-name fs-display-2">App Market</span>
      </div>
      <div class="mt fs-subhead">Web App Market</div>
      <div><button ng-audio="audio/button-3.mp3" class="btn btn--xl  bgc-blue-200 btn--raised" lx-ripple aria-label="Login" ng-click="TLSlogin()">
        <span>{{loginTLSButtonText}}</span>
      </button></div>
    </div>
  </div>


  <!-- logged in -->
  <div class="welcome row grad-bg" ng-hide="!loggedIn">
    <div class="card">
      <div class="toolbar">
        <div class="toolbar__left mr+++">
          <button class="btn btn--l btn--black btn--icon" lx-ripple>
            <i class="mdi mdi-menu"></i>
          </button>
        </div>
        <span class="toolbar__label fs-title">webappmarket</span>
        <div class="toolbar__right">
          <lx-dropdown position="right" from-top>
            <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
              <i class="mdi mdi-dots-vertical"></i>
            </button>
            <lx-dropdown-menu>
              <ul>
                <li><a ng-click="openDialog('about')" class="dropdown-link">About</a></li>
                <li><a href="https://linkeddata.github.io/signup/?tab=signup" target="_blank" class="dropdown-link">Register</a></li>
                <li><a href="https://github.com/melvincarvalho/webappmarket" target="_blank" class="dropdown-link">Source Code</a></li>

              </ul>
            </lx-dropdown-menu>
          </lx-dropdown>
        </div>
      </div>
    </div>


    <div class="tc-white-1" flex-container="row">
      <div flex-item="1" flex-item-order="1">
        <div class="sidebar sidebar--shown"
        ng-class="{'sidebar--shown': isVisible()}">
        <div class="sidebar-menu">
          <div><a ng-audio="audio/button-3.mp3" class="sidebar" ng-click=display('configurations')>Apps</a></div>
        </div>
      </div>
    </div>



    <div flex-item="2" flex-item-order="2"><div>
      <div>


        <div ng-hide="!show.profile">

          <div>
            <a class="name" href="{{user}}" alt="user">{{my.name}}</a>
            <img ng-hide="!my.picture" height="48" width="48" style="border-radius : 50%" ng-src="{{my.picture}}" alt="picture"/>
            <img ng-hide="my.picture" height="48" width="48" style="border-radius : 50%" ng-src="images/generic_photo.png" alt="picture"/>
          </div>

        </div>

        <div ng-hide="!show.knows" ng-repeat="n in friends">

          <div ng-hide="!n.name">
            <a class="name" href="{{n.id}}" alt="user">{{n.name}}</a>
            <img ng-hide="!n.picture" height="48" width="48" style="border-radius : 50%" ng-src="{{n.picture}}" alt="picture"/>
            <img ng-hide="n.picture" height="48" width="48" style="border-radius : 50%" ng-src="images/generic_photo.png" alt="picture"/>
          </div>

        </div>

        <div class="name" ng-hide="!show.storage" ng-repeat="n in storage">
          <a href="{{n}}">{{n}}</a>
        </div>

        <div class="name" ng-hide="!show.seeAlso" ng-repeat="n in seeAlso">
          <a href="{{n}}">{{n}}</a>
        </div>

        <div class="name" ng-hide="!show.wallet" ng-repeat="n in wallet">
          <a href="{{n}}">{{n}}</a>
        </div>

        <div class="name" ng-hide="!show.preferences" ng-repeat="n in preferences">
          <a href="{{n}}">{{n}}</a>
        </div>

        <div class="name" ng-hide="!show.workspaces" ng-repeat="n in workspaces">
          <a href="{{n}}">{{n}}</a>
        </div>

        <div class="name" ng-hide="!show.keys" ng-repeat="n in keys">
          <a href="{{n}}">{{n}}</a>
        </div>

        <div class="name" ng-hide="!show.configurations">


          <table style="	border-collapse: separate; border-spacing: 30px; ">
            <tr ng-repeat="n in apps" ng-hide="$index%4">
              <td>
                <img ng-show="apps[$index+0].icon" height="48" width="48" ng-src="{{apps[$index+0].icon}}"/>
                <div ng-show="apps[$index+0].name"><a href="{{apps[$index+0].homepage}}">{{apps[$index+0].name}}</a></div>
              </td>
              <td>
                <img ng-show="apps[$index+1].icon" height="48" width="48" ng-src="{{apps[$index+1].icon}}"/>
                <div ng-show="apps[$index+1].name"><a href="{{apps[$index+1].homepage}}">{{apps[$index+1].name}}</a></div>
              </td>
              <td>
                <img ng-show="apps[$index+2].icon" height="48" width="48" ng-src="{{apps[$index+2].icon}}"/>
                <div ng-show="apps[$index+2].name"><a href="{{apps[$index+2].homepage}}">{{apps[$index+2].name}}</a></div>
              </td>
              <td>
                <img ng-show="apps[$index+3].icon" height="48" width="48" ng-src="{{apps[$index+3].icon}}"/>
                <div ng-show="apps[$index+3].name"><a href="{{apps[$index+3].homepage}}">{{apps[$index+3].name}}</a></div>
              </td>
            </tr>
          </table>

        </div>


        <div class="name" ng-hide="!show.queue" ng-repeat="(key, value) in fetched">
          <a title="fetched: {{value}}"  ng-click="invalidate(key)">X</a>
          <span title="fetched: {{value}}"><a href="{{key}}">{{key}}</a></span>
        </div>

      </div>

    </div>
  </div>



</div>








<!-- About -->
<lx-dialog class="dialog dialog--l" auto-close="true" id="about">
  <div class="dialog__header">
    <div class="toolbar bgc-blue-A700 pl+">
      <span class="toolbar__label tc-white fs-title">
        About webappmarket
      </span>
      <div class="toolbar__right">
        <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dialog-close>
          <span aria-hidden="true" class="mdi mdi-close"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="dialog__content p+">
    <p>webappmarket is a decentralized app market, that uses Linked Data to find and install apps.</p>
    <br>
    <p>This application follows the <a href="https://github.com/solid/solid-spec">SoLiD specifications</a> to ensure that your data stays private.</p>
    <br>
    <p><a href="https://github.com/melvincarvalho/webappmarket">Source Code</a></p>
  </div>
  <div class="dialog__actions">
    <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Close</button>
  </div>
</lx-dialog>


<!-- Deps -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/velocity/velocity.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui/build/angular-ui.min.js"></script>
<script src="bower_components/lumx/dist/lumx.min.js"></script>
<script src="bower_components/angular-audio/app/angular.audio.js"></script>
<script src="bower_components/dexie/dist/latest/Dexie.js"></script>

<script src="vendor/rdflib.min.js"></script>
<script src="vendor/common.js"></script>

<!-- App -->
<script src="app/app.js"></script>
</body>

</html>
